In [1]:
#taodataframe 
import pandas as pd
#taodataframe
dataframe = pd.DataFrame()
#themcot 
dataframe ['Name'] = ['Lemon','Apple','Banana']
dataframe ['Price']= [5,8,7]
dataframe ['License'] = ['Fale','True','True']
#showdata
dataframe

     Name  Price License
0   Lemon      5    Fale
1   Apple      8    True
2  Banana      7    True

In [3]:
dataframe.shape
df= dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [4]:
list(df.columns)

['Name', 'Price', 'License']

In [5]:
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [6]:
#loc and iloc
df.loc[(df.Price==5)]

    Name  Price License
0  Lemon      5    Fale

In [7]:
df.loc[(df.Price==5)|(df.Name=='Banana')]

     Name  Price License
0   Lemon      5    Fale
2  Banana      7    True

In [8]:
df.loc[(df.Price==5)|(df.Name=='Banana'),['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [9]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [10]:
df.iloc[0:2]

    Name  Price License
0  Lemon      5    Fale
1  Apple      8    True

In [11]:
df.iloc[0:2,0:-1]

    Name  Price
0  Lemon      5
1  Apple      8

In [12]:
df.iloc[0:2,-1]

0    Fale
1    True
Name: License, dtype: object

In [13]:
sum = df.Price.sum()
print(sum)

20

In [14]:
#tao hang moi
new = pd.Series(['Orange', 10, True],index = ['Name','Price','License'])
#them hang
dataframe.append(new, ignore_index= True)

     Name  Price License
0   Lemon      5    Fale
1   Apple      8    True
2  Banana      7    True
3  Orange     10    True

In [15]:
#them cot
dataframe ['Location']= ['USA','VN','SIN']
dataframe

     Name  Price License Location
0   Lemon      5    Fale      USA
1   Apple      8    True       VN
2  Banana      7    True      SIN

In [16]:
#xoa hang
dataframe.drop (1,axis=0).head(10)

     Name  Price License Location
0   Lemon      5    Fale      USA
2  Banana      7    True      SIN

In [17]:
#xoa cot
dataframe.drop('Location',axis=1).head(10)

     Name  Price License
0   Lemon      5    Fale
1   Apple      8    True
2  Banana      7    True

In [18]:
dataframe

     Name  Price License Location
0   Lemon      5    Fale      USA
1   Apple      8    True       VN
2  Banana      7    True      SIN

In [19]:
#thaythe
dataframe['Price'].replace(5,7).head(5)

0    7
1    8
2    7
Name: Price, dtype: int64

In [20]:
#doi ten cot
df.rename(columns={'Price':'Cost'}).head()

     Name  Cost License Location
0   Lemon     5    Fale      USA
1   Apple     8    True       VN
2  Banana     7    True      SIN

#2

In [21]:
#Load library
import pandas as pd
#tao url
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe= pd.read_csv(url)
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [22]:
data = dataframe
data.shape

(2311, 8)

In [23]:
data.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [24]:
data.iloc[0:10]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [25]:
data.iloc[[200,]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [26]:
data= data.set_index(data['NOC'])
data.loc["GER"]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [27]:
data.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [28]:
data[data['NOC']=='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
CAN,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
CAN,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
CAN,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
CAN,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
CAN,1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Silver

In [29]:
data[(data['Year']>=1990)&(data['Year']<=2006) & (data['NOC']=='USA')&(data['Event gender']=='W')&(data['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
USA,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
USA,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
USA,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
USA,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
USA,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
USA,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
USA,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [30]:
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [31]:
data.count()

Year            2311
City            2311
Sport           2311
Discipline      2311
NOC             2311
Event           2311
Event gender    2311
Medal           2311
dtype: int64